# Ambientes virtuais
.venv/
env/
venv/

# Diretório de bibliotecas do ambiente virtual
.venv/lib/
lib/

# Caches do Python
__pycache__/
*.pyc
*.pyo

# Arquivos do VS Code
.vscode/

# Arquivos temporários
tempCodeRunnerFile.py
*.log
*.tmp
/.venv/Lib
